.header {
  width: 100%;
  height: auto;
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-9.5rem);
          transform: translateY(-9.5rem);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 999;

  .contacts-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem 0;

    @include for-size(desktop) {
      padding: 4rem 0;
    }

    .contacts-text {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto;
      letter-spacing: 0.5px;
    }

    .contacts-line {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
      background-color: rgba($gray, .5);
      height: 1px;
      margin-left: 2rem;
    }

    .contacts-links-wrapper {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto;

      &:hover {
        .link-contacts:not(.this-hovered) {
          color: $gray;

          svg g {
            fill: $gray;
          }
        }
      }
    }
  }

  .nav-conatiner {
    width: 100%;
    height: auto;
    padding: 1rem 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    @include for-size(desktop) {
      padding: 2rem 0;
    }

    .logo-wrapper {
      opacity: 0;
      float: left;
      margin-left: -1rem;
    }

    .nav-wrapper {
      float: right;
      margin-right: -1rem;

      &:hover {
        .link-nav:not(.this-hovered) {
          color: $gray;
        }
      }

      #getConacts.contacts-shown {
        content: "close";
      }
    }
  }

  &.contacts-shown {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.shading-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba($gray, .5);
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -99;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  &.shown {
    z-index: 99;
    opacity: 1;
  }
}
