.content-main
{
  position: relative;
  top: 5rem;
  width: 100%;
  height: 100%;

  .welcome-wrapper
  {
    padding: 15rem 0;

    h2
    {
      padding-bottom: 0.5rem;
    }
  }

  .portfolio-wrapper
  {
    justify-content: flex-end;
    padding: 2rem 0;

    h2
    {
      padding-bottom: 0.5rem;
      font-style: italic;
    }

    a svg
    {
      margin-right: 0.5rem;
    }
  }
}
