html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: $white;
  color: $black;
  line-height: 1.278;
  font-size: 1rem;
}

.content-main {
  height: 100%;
  position: relative;
  top: 5rem;

  .welcome-wrapper {
    padding: 15rem 0;

    h2 {
      padding-bottom: 0.5rem;
    }
  }

  .portfolio-wrapper {
    padding: 2rem 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;

    h2 {
      font-style: italic;
      padding-bottom: 0.5rem;
    }

    a {
      svg {
        margin-right: 0.5rem;
      }
    }
  }
}
