.content-home
{
  .container-welcome
  {
    .intro-wrapper
    {
      padding: 4rem 0;
      max-width: 66%;

      .intro-text
      {
        font-size: 1.25rem;
        color: $gray;
      }

      .name-text
      {
        padding: 1rem 0;
        font-size: 2rem;

        .name-wrapper
        {
          height: 4.5rem;
          transform-style: preserve-3d;
          transition: all .3s ease-in-out;

          .name-rotate-front
          {
            margin: 1rem 1rem .75rem;
            padding-bottom: .125rem;
            border-bottom: .125rem dotted $gray;
          	transform: translateZ(2.5rem);
          }

          .name-rotate-side
          {
            margin: 0 1rem;
            padding: 1rem;
            height: 3.5rem;
            font-size: 1rem;
            letter-spacing: 1px;
            text-align: center;
            color: $white;
            background-color: $black;
            transform: rotateX(-90deg) translateZ(-2.5rem);
          }

          &:hover
          {
            transform: rotateX(90deg);
          }
        }
      }
    }

    .about-wrapper
    {

    }

    .more-btn
    {

    }
  }

  .container-portfolio
  {
    justify-content: flex-end;
    padding: 12rem 0 2rem;

    h2
    {
      padding-bottom: 0.5rem;
      font-style: italic;
    }

    a svg
    {
      margin-right: 0.5rem;
    }
  }
}
