// container
// =========================================================
.container
{
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 100%;
  width: 100%;
  height: 100%;

  @include for-size(desktop)
  {
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 1280px;
  }

  @include for-size(desktop-large)
  {
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: 1920px;
  }
}

// flexbox
// =========================================================
.flex
{
  display: flex;

  &.row
  {
    flex-flow: row nowrap;

    &.top
    {
      align-items: flex-start;
    }

    &.middle
    {
      align-items: center;
    }

    &.bottom
    {
      align-items: flex-end;
    }

    &.left
    {
      justify-content: flex-start;
    }

    &.center
    {
      justify-content: center;
    }

    &.right
    {
      justify-content: flex-end;
    }

    &.justify
    {
      justify-content: space-between;
    }
  }

  &.column
  {
    flex-flow: column nowrap;

    &.top
    {
      justify-content: flex-start;
    }

    &.middle
    {
      justify-content: center;
    }

    &.bottom
    {
      justify-content: flex-end;
    }

    &.left
    {
      align-items: flex-start;
    }

    &.center
    {
      align-items: center;
    }

    &.right
    {
      align-items: flex-end;
    }

    &.justify
    {
      align-items: stretch;
    }
  }

  &.wrap
  {
    flex-wrap: wrap;
  }
}
